<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_cham_cong_root"
            name="Chấm công"
            sequence="0"/>
          
        <menuitem name="Bảng chấm công" 
            id="menu_bang_cham_cong" 
            parent="menu_cham_cong_root" 
            sequence="10"
            action="action_bang_cham_cong"
        />

        <menuitem name="Tính công" 
            id="menu_tinh_cong" 
            parent="menu_cham_cong_root" 
            sequence="20"
            action="action_tinh_cong"
        />

        <menuitem name="Đơn từ" 
            id="menu_don_tu" 
            parent="menu_cham_cong_root" 
            sequence="30"
            action="action_don_tu"
        />

        <menuitem name="Cấu hình" 
            id="menu_cham_cong_config" 
            parent="menu_cham_cong_root" 
            sequence="50"
        />

        <menuitem name="Đăng ký ca làm" 
            id="menu_dang_ky_ca_lam_theo_ngay" 
            parent="menu_cham_cong_config" 
            sequence="10"
            action="action_dang_ky_ca_lam_theo_ngay"
        />

        <menuitem name="Đợt đăng ký" 
            id="menu_dot_dang_ky" 
            parent="menu_cham_cong_config" 
            sequence="20"
            action="action_dot_dang_ky"
        />

    </data>
</odoo>
