<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="Quản Lý Nhân Sự"
            sequence="0"/>
          
        <menuitem name="Quản lý nhân viên" 
            id="menu_nhan_vien" 
            parent="menu_root" 
            sequence="1"
            action="action_nhan_vien"
        />

        <menuitem name="Danh mục dùng chung" 
            id="danh_muc_dung_chung" 
            parent="menu_root" 
            sequence="2"
        />

        <menuitem name="Danh mục phòng ban" 
            id="menu_phong_ban" 
            parent="danh_muc_dung_chung" 
            sequence="0"
            action="action_phong_ban"
        />

        <menuitem name="Danh mục chức vụ" 
            id="menu_chuc_vu" 
            parent="danh_muc_dung_chung" 
            sequence="1"
            action="action_chuc_vu"
        />

        <menuitem name="Chatbot nội quy" 
            id="menu_chatbot_tinh_luong_nhan_su" 
            parent="menu_root" 
            sequence="3"
            action="chatbot_luong_groq.action_payroll_chat_wizard"
        />
    </data>
</odoo>
