<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_tinh_luong_root" name="Tính lương" sequence="30"/>
    <menuitem id="menu_chatbot_tinh_luong" name="Chatbot tính lương" parent="menu_tinh_luong_root" 
              action="chatbot_luong_groq.action_payroll_chat_wizard" sequence="40"/>
</odoo>
